[node]
name = {{q .Actor}}
rpc_bind = "0.0.0.0:20443"
p2p_bind = "0.0.0.0:20444"
data_url = "http://__NODE_IP__:20443"
p2p_address = "__NODE_IP__:20444"
prometheus_bind = "0.0.0.0:20446"
working_dir = "/data/node"
seed = {{q .Seed}}
local_peer_seed = {{q .Seed}}
miner = {{.Miner}}
stacker = {{.Stacker}}
use_test_genesis_chainstate = {{.Genesis.UseTestGenesisChainstate}}
txindex = true
pox_sync_sample_secs = 0
wait_time_for_blocks = 0
wait_time_for_microblocks = 0
mine_microblocks = false
event_dispatcher_blocking = {{.Blocking}}
event_dispatcher_queue_size = 1000
{{if .Bootstrap}}bootstrap_node = {{q .Bootstrap}}{{end}}
{{if .Miner}}
[miner]
first_attempt_time_ms = 1000
subsequent_attempt_time_ms = 2000
block_commit_delay_ms = 1000
activated_vrf_key_path = "/data/node/activated-vrf-key.json"
{{end}}
[connection_options]
public_ip_address = "__NODE_IP__:20444"
private_neighbors = true
walk_interval = 5
inv_sync_interval = 5
download_interval = 1
auth_token = {{q .AuthToken}}
{{if .SignerService}}
[[events_observer]]
endpoint = {{q .SignerService}}
events_keys = ["stackerdb", "block_proposal", "burn_blocks"]
{{end}}
[burnchain]
chain = "bitcoin"
mode = "nakamoto-neon"
poll_time_secs = 1
magic_bytes = "T3"
pox_prepare_length = {{.Genesis.PoX.PrepareLength}}
pox_reward_length = {{.Genesis.PoX.RewardCycleLength}}
burn_fee_cap = 20000
peer_host = {{q .BitcoinService}}
peer_port = {{.BitcoinP2PPort}}
rpc_port = {{.BitcoinRPCPort}}
rpc_ssl = false
username = {{q .RPCUser}}
password = {{q .RPCPassword}}
timeout = 30
{{if .Miner}}
wallet_name = "stacks-miner"
local_mining_public_key = {{q .MiningPublicKey}}
{{end}}
{{template "genesis" .Genesis}}
