stacks_private_key = {{q .PrivateKey}}
node_host = {{q .NodeHost}}
endpoint = "0.0.0.0:30000"
network = "testnet"
auth_password = {{q .AuthToken}}
db_path = "/data/signer.sqlite"
metrics_endpoint = "0.0.0.0:31000"
event_timeout_ms = 250
